PySimpleSOAP
ptvsd
ptyprocess
pyasn1
pyasn1-modules
pycparser
pydot
Pygments
PyNaCl
pyOpenSSL
pyotp
pyparsing
PyPDF2
pysftp
python-dateutil
python-stdnum
pytz
pyusb
PyYAML
qrcode
raven
redis
reportlab
rotate-backups==4.3
rotate-backups-s3
rsa
schema
simpleeval
simplegeneric
simplejson
six
suds-jurko
tornado
traitlets
tzlocal
urllib3
vatnumber
verboselogs
vobject
wcwidth
Werkzeug
xlrd
xlwt
zpl2
httplib2